.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}

.rowC{display:flex;}

.midroles {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
